body {
  background: black;
  color: red;
  margin: 0px;
  padding: 0px;
  width: 800px;
  height: 800px;

}

html {
   width: 800px;
   height:800px;
}

p {
  font-size: 20px;
  font-style: Arial;
 
  }
  
.flex-cont {
  display: flex;
  background-color: Blue;
}

.flex-cont > div {
  background-color: white;
  margin: 2px;
  padding: 5px;
  font-size: 20px;
}

